/* Отступы для абзацев, списков, заголовков, изображений и отступы сверху/снизу для компонентов */

@font-face {
    font-family: "Helvetica-bold";
    src: url("Helvetica/Helvetica-Bold.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("Helvetica/helvetica-light-587ebe5a59211.ttf");
}

p {
    margin: 0 0 9px;
    /* Отступы для абзацев */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 9px 0;
    /* Отступы для заголовков */
}


ul,
ol {
    margin: 0 0 9px 25px;
    /* Отступы для списков */
}

img {
    max-width: 100%;
    /* изображение не выйдет за пределы родителя */
    max-height: 400px;
    /* ограничение по высоте */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    /* отступы со всех сторон */
    display: block;
    /* убирает нижний зазор и позволяет margin работать ожидаемо */
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.contentWrapper {
    padding: 45px 46px;
    /* Отступы для компонентов */
}

.related {
    padding: 25px 46px 25px;
    /* Отступы для связанных компонентов */
}

/* Шрифты для заголовков всех уровней и основного текста */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* Основной текст */
    font-size: 16px;
    line-height: 18px;
    font-family: "Helvetica";
    line-height: 1.3;
    width: 60%;
    text-align: justify;
}

h1 {
    font-size: 33px;
    /* Заголовок уровня 1 */
    font-weight: 700;
    font-family: "Helvetica-bold";
    margin-bottom: 15px;
}

h2 {
    font-size: 27px;
    /* Заголовок уровня 2 */
    font-weight: 700;
    font-family: "Helvetica-bold";
    margin-top: 30px;
    margin-bottom: 10px;
}


a {
    color: #4381b5;
    /* Ссылки */
    text-decoration: none;
}

a:hover {
    color: #2e597d;
    /* Ссылки при наведении */
    text-decoration: underline;
}